  .shipper-info{
    margin-top:40px;
    margin-bottom:40px;
  }
  .main-reg{
    display: 'flex';
    text-align:center;
    min-height: 650px;
    background-color: white;
    background-size: 100%;
    border: 2px grey solid;
    border-radius: 5px;
  }
   .form-broker , .data-selector , .form-carrier{
    display: 'flex';
    margin-top:45px;
  }

  .login-field{
    padding:10px;
  }
  .register-form{
    display: 'flex';
    align-items: center;
    text-align:center;
    min-height: 650px;
    background-color: white;
    background-size: 100%;
    border: 2px grey solid;
    border-radius: 5px;
    padding-top:50px;
  }

  .login-form{
    display: 'flex';
    align-items: center;
    text-align:center;
    min-height: 650px;
    background-color: white;
    background-size: 100%;
    border: 2px grey solid;
    border-radius: 5px;
    padding-top:50px;
  }
  .login-block{
    padding-bottom: 25px;
  }